---
title: "Assign A New Column To A Pandas DataFrame"
author: "Chris Albon"
date: 2017-12-20T11:53:49-07:00
description: "Assign A New Column To A Pandas DataFrame."
type: technical_note
draft: false
---

## Preliminaries

In [1]:
import pandas as pd

## Create Dataframe

In [2]:
# Create empty dataframe
df = pd.DataFrame()

# Create a column
df['name'] = ['John', 'Steve', 'Sarah']

# View dataframe
df

    name
0   John
1  Steve
2  Sarah

## Assign New Column To Dataframe

In [3]:
# Assign a new column to df called 'age' with a list of ages
df.assign(age = [31, 32, 19])

    name  age
0   John   31
1  Steve   32
2  Sarah   19